.App {
  text-align: center;
}

body{
  background-color:#0063B2FF;
  /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ9tD6DnDpPKVgbpRFvUw9FqCs2aB4K-S2IQ&usqp=CAU"); */

}

.my__div{
  /* background-image:url("https://images.unsplash.com/photo-1591951425600-d09958978584?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGFnZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"); */
  /* background-image:url("https://t4.ftcdn.net/jpg/04/13/42/61/360_F_413426103_zBEu5NRrZHkiNcgiHeJAqcOQsmsdEMy3.jpg"); */
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  /* flex-direction:column; */
  /* align-items:center; */
  justify-content:center;
  background-color:#f3f3f3;
  height:100vh;
  box-shadow: -1px 4px 20px 6px rgba(0,0,0,0.75);
  margin:2vw;
  padding:3px;
}
@media only screen and (max-width: 600px) {
  .my__div {
    /* background-color: lightblue; */
    flex-direction:column;
  }
}